/* GLOBAL STYLES ---------------------------------------------------------------------------*/

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Verdana, Tahoma, sans-serif;
    font-size: .9rem;
    letter-spacing: 0.1rem;
}

h1, h2, .h1 {
    font-family: 'Jost', Verdana, Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    color: #181680;
}

h3, .h3, a {
    font-family: 'Jost', Verdana, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: #181680;
}

.cta {
    display: block;
    padding: 20px 20px;
    border-radius: 40px;
    background-color: #FFC37D;
    text-align: center;
}

.blue {
    background-color: #2A26F5;
    color: #FAEDDF;
}

.orange {
    background-color: #FFC37D;
}

.dark {
    color: #181680;
    
}

.purple {
    color: #DBC8FB;
}

hr {
    width: 100px;
    border: 3px solid #181680;
}

.hr {
    width: 50px;
    border: 1px solid #181680;
}

.circle {
    border-radius: 50%;
    width: 250px;
    color: #2A26F5;
}

.medium {
    padding: 70px;
    width: 140px;
    height: 140px;
}

.small {
    padding: 40px;
    width: 80px;
    height: 80px;
}

.icon, .logo {
    height: 25px;
}


/* HEADER ---------------------------------------------------------------------------------------------*/

header {
    position: relative;
}

.navbar {
    min-height: 70px;
    padding: 20px;
    position: relative;
}

nav, input[type=search], #hamburger-menu {
    display: none;
}

.menu-icon {
    position: absolute;
    right: 20px;
}

nav a {
    display: block;
    text-align: right;
    margin-top: 10px;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

#hamburger-menu:checked ~ form > input[type=search] {
    display: block;
}

input[type=search] {
    background: url(Icons/magnifying-glass-blue.svg) no-repeat;
    background-size: 20px;
    background-position: 10px;
    padding-left: 40px;
    width: 100%;
    margin-top: 30px;
}

.active {
    font-weight: bold;
}

/* HEADER HOME -----------------------------------------------------------------------------------------------------*/

.header-home {
    background-image: url(images/propell-hero-blue.jpg);
    background-position: center top;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.text-logo {
    height: 80px;
    position: relative;
    top: -4px;
}

.welcome {
    padding: 20px;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 50px;
}

.welcome .cta {
    width: 270px;
    margin:  50px auto;

}

#explore, #together {
    font-size: 3rem;
    letter-spacing: .5rem;
    font-weight: 900;
    font-family: 'Jost';
    color: white;
    text-shadow: 0px 0px 5px #181680;
}

#together {
    font-weight: 500;
    letter-spacing: .3rem;
}

/* FORMS -----------------------------------------------------------------------------------------------------------*/

input, textarea {
    background-color: white;
    border: 0;
    border-radius: 5px;
    height: 40px;
    box-shadow: inset 0px 2px 5px 2px lightgrey;
    padding: 10px;
    outline: none;
    resize: none;
}

/* NEWS SECTION ----------------------------------------------------------------------------------------------------*/

.news {
    background-color: #DBC8FB;
    padding: 20px;
}

/* FOOTER ----------------------------------------------------------------------------------------------------------*/

footer {
    background-color: #181680;
}