/* GLOBAL STYLES ----------------------------------------*/

* { 
    box-sizing: border-box;
    font-family: 'Poppins', Verdana, Tahoma, sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

