/* GLOBAL STYLES ---------------------------------------------------------------------------*/

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Verdana, Tahoma, sans-serif;
    font-size: .9rem;
    letter-spacing: 0.1rem;
}

h1, h2, .h1 {
    font-family: 'Jost', Verdana, Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    color: #181680;
    margin-top: 40px;
}

h3, .h3, a {
    font-family: 'Jost', Verdana, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: #181680;
}

p {
    margin: 15px 0;
}

li {
    list-style: none;
}

.cta {
    display: block;
    padding: 15px 20px;
    border-radius: 40px;
    background-color: #FFC37D;
    text-align: center;
    margin: 30px auto 0;
}

.blue {
    background-color: #2A26F5;
    color: #FAEDDF;
}

.orange {
    background-color: #FFC37D;
    color: #181680;
}

.dark {
    background-color: #181680;
    color: #FAEDDF;
}

.purple {
    background-color: #DBC8FB;
}

.light {
    background-color: #FAEDDF;
}

.text-blue {
    color: #2A26F5;
}

.text-orange {
    color: #FFC37D;
}

.text-dark {
    color: #181680;
}

.text-purple {
    color: #DBC8FB;
}

hr {
    width: 100px;
    border: 3px solid #181680;
    margin: 5px 0 30px 0;
}

.hr-blue {
    border: 3px solid #2A26F5;
}

.hr-purple {
    border: 3px solid #DBC8FB;
}

.hr-orange {
    border: 3px solid #FFC37D;
}

.hr {
    width: 50px;
    border: 1px solid #181680;
}

.circle {
    border-radius: 50%;
    width: 220px;
    height: 220px;
    color: #2A26F5;
}

.medium {
    padding: 70px;
    width: 140px;
    height: 140px;
}

.small {
    padding: 40px;
    width: 80px;
    height: 80px;
}

.extra {
    display: none;
}

.o-shade {
    box-shadow: 1px 1px 30px #FFC37D;
}

.icon, .logo {
    height: 25px;
}


/* HEADER ---------------------------------------------------------------------------------------------*/

header {
    position: relative;
}

.navbar {
    min-height: 70px;
    padding: 20px;
    position: relative;
}

input[type=search] {
    height: 30px;
}

nav, input[type=search], #hamburger-menu {
    display: none;
}

.menu-icon {
    position: absolute;
    right: 20px;
}

nav a {
    display: block;
    text-align: right;
    margin-top: 10px;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

#hamburger-menu:checked ~ form > input[type=search] {
    display: block;
}

input[type=search] {
    background: white url(Icons/magnifying-glass-blue.svg) no-repeat;
    background-size: 20px;
    background-position: 10px;
    padding-left: 40px;
    width: 100%;
    margin: 30px auto 0 auto;
    max-width: 500px;
}

.active {
    font-weight: bold;
}

/* HEADER HOME -----------------------------------------------------------------------------------------------------*/

.header-home {
    background-image: url(images/scientific-machine.jpg);
    background-position: center top;
    background-size: cover;
    height: 90vh;
    position: relative;
}

.header-home .navbar {
    background: linear-gradient(#181680, transparent);
}

.text-logo {
    height: 80px;
    position: absolute;
    top: 16px;
}

.welcome {
    padding: 20px;
    text-align: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 50px;
}

.welcome .cta {
    width: 270px;
    margin:  50px auto;

}

#explore, #together {
    font-size: 3rem;
    letter-spacing: .5rem;
    font-weight: 900;
    font-family: 'Jost';
    color: white;
    text-shadow: 0px 0px 5px #181680;
    margin: 0;
}

#together {
    font-weight: 500;
    letter-spacing: .3rem;
}

.header-home .navbar a {
    color: white;
}

.header-home nav {
    padding-top: 30px;
}

/* MAIN / SECTIONS ----------------------------------------------------------------------------------------------------*/

main > div, main > section {
    padding:20px 40px 40px 40px;
}

section > div {
    max-width: 500px;
    margin: 40px auto;
}

main {
    overflow: hidden;
}

.arrow-sides {
    display: none;
}


/* INFO BOXES NEWS/EXHIBITIONS */

.info-box {
    background-color: white;
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 3px 3px 15px #8f8edf;
    margin: 50px 0;
}

.info-box p, .info-box h3 {
    padding: 20px 20px 0 20px;
}

.info-box hr {
    margin-left: 20px;
}

.info-box img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.new-ex {
    position: relative;
}

.new-ex div {
    position: absolute;
    top: -20px;
    right: 20px;
}

.new-ex div h3 {
    position: absolute;
    top: 10px;
    right: -3px;
}


/* HOME PAGE ----------------------------------------------------------------------------------------------------*/

/* POSSIBILITIES/FACILITIES*/

.presentations {
    margin-top: 100px;
}

.presentation {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;
}

.presentation div, .presentation a {
    flex: 100%;
    text-align: center;
    margin: 5px auto;
}

.illustration {
    height: 180px;
    position: relative;
    bottom: 70px;
    right: 100px;
}

.facilities div {
    margin: 70px auto;
}

.facilities div div {
    width: 220px;
    margin: 70px auto;
}

.facilities img {
    width: 220px;
    margin-bottom: 20px;
}

/* YOUNG STARS */

.young-stars {
    padding: 60px 40px;
}

.young-stars img {
    border-radius: 10px;
    width: 100%;
    margin-top: 30px;
}


/* VISIT ----------------------------------------------------------------------------------------------------------*/

.visit-img {
    width: 100%;
}

.hours {
    display: flex;
    flex-wrap: nowrap;
    margin: 15px 0;
}

.hours ul:last-child {
    margin-left: 20px;
}

#map-visit {
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;
}

/* YOUTH / TEACHERS / GET INVOLVED ---------------------------------------------------------------------------------*/

.intro {
    display: flex;
    flex-wrap: wrap;
}

.intro-ill {
    margin: 20px auto;
}

.intro .cta {
    width: 100%;
    margin-top: 50px;
}


/* FORMS / CONTACT -------------------------------------------------------------------------------------------------*/

input, textarea {
    background-color: white;
    border: 0;
    border-radius: 5px;
    height: 40px;
    box-shadow: inset 0px 2px 4px 1px lightgrey;
    padding: 10px;
    outline: none;
    resize: none;
    width: 100%;
    margin-bottom: 20px;
}

textarea {
    height: 200px;
}

.agree {
    display: flex;
}

input[type=checkbox] {
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 20px;
    margin-right: 20px;
    box-shadow: none;
}



/* FOOTER ----------------------------------------------------------------------------------------------------------*/

footer {
    background: #181680 url(icons/Logo/CS-logo-blueblue.svg) no-repeat center;
    background-size: cover;
    padding: 20px;
    color: white;
    position: relative;
}

#map {
    display: none;
}

.social .icon {
    margin-bottom: 10px;
}

.up-top {
    text-align: right;
    margin-bottom: 80px;
}

.newsletter {
    margin-bottom: 50px;
    max-width: 400px;
}

.copyright {
    text-align: center;
}



/* MEDIA QUERIES -------------------------------------------------------------------------------------------*/

@media screen and (min-width: 769px) {

    #hamburger-menu:checked ~ form > input[type=search] {
        position: absolute;
        top: -10px;
        left: 0;
        right: 0;
    }

    /* FACILITIES (home+visit) */
    .facilities div div {
        width: 300px;
        margin: 70px auto;
    }
    
    .facilities img {
        width: 300px;
        height: 300px;
        margin-bottom: 20px;
    }

}

@media screen and (min-width: 1024px) {

    

}